# compilation target
/build

# NPM dependencies
/node_modules

# EthPM dependencies
/installed_contracts

# Solidity coverage
/coverage
/coverageEnv
scTopics
coverage.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Others
.node-*
